<link rel="stylesheet" href="../assets/addbook-style.css">
<link rel="stylesheet" href="../assets/nav-footer-style.css">

<%-include('../static/nav.ejs')%>

<div class="addbook-div">
    <h1 id="addbook-heading">Add Book</h1>
    <form method="POST">
        <input type="text" name="book_name" id="book_name" placeholder="   book name" class="bookname inp-elem">
        <input type="text" name="author" id="author" placeholder="  author" class="author inp-elem">
        <input type="text" name="year" id="year" placeholder="  year" class="year inp-elem">
        <input type="submit" id="addbook-btn" name="submit" value="Add Book" class="inp-elem" >
    </form>
</div>
<%-include('../static/footer.ejs')%>