<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/login-style.css">
    <link rel="stylesheet" href="../assets/nav-footer-style.css">
</head>
<body>
    <% if(message){%>
        <%- include('../static/flash_box.ejs')%> 
        <%}%>
        <%-include('../static/nav.ejs')%>
<div class="login-div">
    <h1>Login</h1>
    <form method="POST">
        <input type="email" name="email" id="email" placeholder="email" class="login-inp">
        <input type="password" name="password" id="password" placeholder="password" class="login-inp">
        <input class="log-sign-btn" type="submit" value="login">
    </form>
    <div class="sign-btn-class">
        <button class="sign-btn"><a href="signup" id="signup-btn">signup</a></button>
    </div>
</div>
<%-include('../static/footer.ejs')%>
</body>
</html>
 