
<link rel="stylesheet" href="../assets/signup-style.css">
<link rel="stylesheet" href="../assets/nav-footer-style.css">


<%-include('../static/flash_box.ejs')%>
<%-include('../static/nav.ejs')%>

<div class="signup-div">
    <h1>Signup</h1>
    <form method="POST"  onsubmit="return true">
        <input type="text" name="f_name" id="f_name" placeholder="  first name" class="signup-inp">
        <input type="text" name="l_name" id="l_name" placeholder="  last name" class="signup-inp">
        <input type="email" name="email" id="email" placeholder="  email" class="signup-inp">
        <button id="varify-btn"><a>Send OTP</a></button>
        <input type="password" name="password" id="password" placeholder="  password" class="signup-inp">
        <input type="submit" id="signup-btn" name="submit" value="Register" >
    </form>
    <button id="login-btn"><a href="login" >LOG IN</a></button>
</div>
<%-include('../static/footer.ejs')%>
   
<script type="module">
    import sendmailfrom from '../controllers/mailcontroller.js'

  document.getElementById("varify-btn").addEventListener('click', function varifyOtp(){
    sendmailfrom()
  })


</script>
